<form>
  <div>
    <label for="tipo">
        Tipo
    </label>
    <input id="tipo" type="text">
  </div>

  <div>
    <label for="actualKm">
        Km atual
    </label>
    <input id="actualKm" type="text">
  </div>



  <div>
    <label for="maintenanceRequested">
        Manutenção solicitada
    </label>
    <input id="maintenanceRequested" type="text">
  </div>

  <div>
    <label for="date">
        Data
    </label>
    <input id="date" type="text">
  </div>

  <div>
    <label for="maintenanceDone">
        Manutenção realizada
    </label>
    <input id="maintenanceDone" type="text">
  </div>

  <div>
    <label for="nextKmMaintenance">
        Kms para a próxima manutenção
    </label>
    <input id="nextKmMaintenance" type="text">
  </div>

  <div>
    <label for="spentValue">
        Valor Gasto R$
    </label>
    <input id="spentValue" type="text">
  </div>

  <div>
    <label for="maintenanceResponsible">
        Responsável pela manutenção (Mêcanico)
    </label>
    <input id="maintenanceResponsible" type="text">
  </div>

  <div>
    <label for="location">
        Localização (CEP)
    </label>
    <input id="location" type="text">
  </div>

  <div>
    <label for="numberLocation">
        N° local
    </label>
    <input id="numberLocation" type="text">
  </div>

  <div>
    <label for="observation">
        Observação
    </label>
    <input id="observation" type="text">
  </div>

  <!-- <button class="button" type="submit">Purchase</button> -->
</form>