.container {
    background-color: #232528;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    margin: auto;
    width: 80%;
}

.logo {
    width: 100px;
    height: 100px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration-line: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-left: 60px;
}